@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&family=Yusei+Magic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Hanalei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}

#mainNav {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: 'Almarai', sans-serif;
}

.navbar-brand {
  font-size: 35px;
  font-family: 'Hanalei', cursive;
}

/* Slider style */
.carousel-item {
  height: 800px;
}

/* Caption Slider */
.carousel-caption .display-4 {
  font-family: 'Hanalei', cursive;
  color: black;
}

/* Carousel */
.carousel-item  .button-text {
  font-family: 'Homemade Apple', cursive;
  color: rgb(0, 0, 0);
}

.carousel-item .btn {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  -webkit-animation: bounce 0.3s infinite alternate;
  -moz-animation: bounce 0.3s infinite alternate;
  animation: bounce 0.3s infinite alternate;
  border: 1px solid black;
  cursor: default;
}

.carousel-item .btn-dark {
  background-color:rgba(0, 0, 0, 0);
}

.carousel-item .btn:hover {
  color: white;
  background-color: black;
}

.carousel-caption {
  text-align: center;
  padding-bottom: 500px;
}

/* content */

.title-content {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 25px;
}

.text-content {
  font-size: 14px;
  text-align: justify;
  text-align-last: center;
  padding-bottom: 40px;
  font-family: 'Work Sans', sans-serif;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 12px;
}

.card-img-top {
  height: 200px;
}

.card-deck {
  padding-bottom: 50px;
}

.card-footer {
  color: white;
  background-color: white;
}

.card-text {
  font-family: 'Work Sans', sans-serif;
}

.footer {
  padding-top: 10px;
  color: white;
  padding-bottom: 10px;
  background-color: black;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-size: 12;
}

.download {
  padding-bottom: 50px;
}

a {
  color: black;
  text-align: center;
}